<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <div class="container">
  <h2>Transaction History</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>    
  <div class="jumbotron text-center">    
  <table class="table table-striped">
    <thead>
      <tr>
        <th>From</th>  
        <th>    <span="text-align:center;">Description</span>     </th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Salary</td>
        <td>$10000</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>You just withdraw $100</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>July</td>
        <td>DBS PayLah</td>
        <td>$200</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

