.payButton{
    background-color:#00DDDC
}
.payButton:focus{
    background-color: #37D657
}
#containerpay{
    float:right;
    height:800px;
    width:500px;
}
#containercredit{
    float:left;
    width:300px;
}
#time{
    text-align: center;
    height:100px;
    font-size: 50px;
    font-family: Quicksand;
}
.balanceText{
    color: #37D657;
}
.billtotaltext{
    color:red;
}
.icons{
    float:right;
}
.titlename{
    font-family: Quicksand;
    font-style: oblique;
}