<link rel="stylesheet" href="/css/ZhiJian.css">

<div id="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h2 class="text-center">Retirement Plan</h2>
                <form action="./retirement" method="post">
                    <div class="form-group">
                        <label for="name">Age</label>
                        <input type="text" class="" name="Age" value="{{Age}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Monthly income</label>
                        <input type="text" class="" name="Monthly income" value="{{MonthlyIncome}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Retirement age</label>
                        <input type="text" class="" name="Retirement age" value="{{RetirementAge}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Goal for retirement</label>
                        <input type="text" class="" name="Goal for retirement" value="{{RetirementGoal}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>